[data-theme="light"] {
    --colorBackground: #3CD8C1;
    --colorSpecialText: #153b50;
    --colorNormalText: #000000;
    --colorHighlight: #2C5E68;
    --colorBoxAccent: #73C5B3;
    --colorBoxShadow: #66b3a4;
}

[data-theme="dark"] {
    --colorBackground: #332B2B;
    --colorBackgroundHighLight: #242222;
    --colorSpecialText: #2dd733;
    --colorNormalText: #ffffff;
    --colorHighlight: #4CAF50;
    --colorBoxAccent: #1e1e1e;
    --colorBoxShadow: #000000;
}

body {
    background-color: var(--colorBackground);
    padding-top: 80px;
}
 
h1 {
    font-family: Arial;
    color: var(--colorSpecialText);
    padding-left: 20px;
    clear: left;
}

p {
    color: var(--colorNormalText);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 14px;
}

.resultLine {
    color: var(--colorSpecialText);
}

ul {
    color: var(--colorNormalText);
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: square;
}

button, select, input {
    padding: 10px 0;
    cursor: pointer;
    border-radius: 4px;
    color: var(--colorNormalText);
    background-color: var(--colorBackground);
    border: 0.15rem solid var(--colorHighlight);
}

select {
    padding: 10px;
    font-size: 16px;
}

.title {
    color: var(--colorHighlight);
    font-size: 20px;
}

.interactableBox {
    padding: 10px 0;
}

.interactable {
    width: 215px;
    height: 43px;
}

select:focus, button:focus {
    border-color: var(--colorHighlight);
}

.textInput {
    width: 200px;
    padding: 10px 5px;
    height: 19px;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: var(--colorBackgroundHighLight);
    outline: solid var(--colorHighlight);
    z-index: 1000;
}

#logo {
    float: left;
    transform: translate(0, 5%);
}

#title {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#icon {
    position: absolute;
    left: 97.25%;
    transform: translate(-50%, -12%);
    float: right;
}

#buttonTheme {
    width: 58px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 18%;
    left: 91%;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: 0.25rem solid var(--colorHighlight);
}

.box {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--colorBoxAccent);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--colorBoxShadow);
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
    width: 220px;
    height: 300px;
}

.fissionHistoryBox {
    width: 220px;
    height: 300px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}