[data-theme="light"] {
    --colorBackground: #ACECD3;
    --colorBannerText: #113040;
    --colorNormalText: #000000;
    --colorHighlights: #1E5A78;
    --colorBoxAccents: #7ce0b7;
    --colorBoxShadows: #4cd49b;
}

[data-theme="dark"] {
    --colorBackground: #332B2B;
    --colorBannerText: #4CAF50;
    --colorNormalText: #ffffff;
    --colorHighlights: #30D035;
    --colorBoxAccents: #1e1e1e;
    --colorBoxShadows: #000000;
}

body {
    background-color: var(--colorBackground);
    padding-top: 80px
}
 
h1 {
    font-family: Arial;
    color: var(--colorBannerText);
    text-align: center;
    margin-bottom: 0px;
}
 
p {
    color: var(--colorNormalText);
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
    border-radius: 4px;
    color: var(--colorNormalText);
    background-color: var(--colorBackground);
    border: 0.15rem solid var(--colorBannerText);
}

select {
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    color: var(--colorNormalText);
    background-color: var(--colorBackground);
    border: 0.15rem solid var(--colorBannerText);
}

select:focus, button:focus {
    border-color: var(--colorHighlights);
}

.controls {
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--colorBoxAccents);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--colorBoxShadows);
}

.interactable {
    padding: 10px 0;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: var(--colorBackground);
    z-index: 1000;
    text-align: center;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
}

#title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#icon {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 97.25%;
    transform: translate(-50%, -50%);
}

#buttonTheme {
    font-size: 20px;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    width: 58px;
    border: 0.25rem solid var(--colorBannerText);
}