body {
    background-color: #332B2B;
    padding-top: 80px
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #332B2B;
    z-index: 1000;
    text-align: center;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
}

#title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 
h1 {
    font-family: Arial;
    color: #4CAF50;
    text-align: center;
    margin-bottom: 0px;
}
 
p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/* This class will be added or removed by JavaScript */
/* .dark-mode {
    background-color: #222;
    color: #eee;
} */